
.c19-tt0{
    font-size: 18px;
    color: rgba(0,0,0,.5);
}
.sp-only{
    display: none;
}

.c19-status{
    margin: 102px auto;
}

.c19-tt1{
    font-size: 16px;
    line-height: 0;
}

.c19-tt2{
    font-size: 18px;
    line-height: 0;
}

.c19-tt3{
    font-size: 20px;
    line-height: 0;
}
.card-pink {
    padding: 20px;
    background: #FFEBEE;
    color: #444;
    margin: 0 auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
} 
.card-green {
    padding: 20px;
    background: #E8F5E9;
    color: #444;
    margin: 0 auto;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
} 
.card-warning{
    padding: 20px;
    background: #F5E3F2;
    opacity: 0.8;
    color: #444;
    margin: 0 auto;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
} 

.text-dark{
    color: #3D2121;
}

.text-warning{
    color: #763F80;
}

.text-primary{
    color: #2CA8FF;
}
.text-danger{
    color:  #FF3636;
}
.text-green{
    color:#4CAF50;
}
.sp-responsive{
    display: none;
}

/*For Tablet*/
@media only screen and (min-width: 768px) and (max-width: 999px) {
   .sp-responsive{
       display: block;
   }
   .pc-only{
       display: none;
   }
}
/*For SP*/
@media only screen and (max-width: 767px)
 and (orientation: portrait) {
    .c19-tt0{
        display: none;
    }
    .sp-only{
        display: block;
        font-size: 16px;
        color: rgba(0,0,0,.5);
    }
    .sp-responsive{
        display: block;
    }
    .pc-only{
        display: none;
    }
    
}
