@font-face {
  font-family: 'Standard';
  src: url('../font/zawdecode.ttf') format('truetype');
}
/* ========================================================================
   Component: Base
 ========================================================================== */

html {
  /* 1 */
  font-family: "Standard";
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  /* 3 */
  background: #f9fbfc;
  color: #444;
}
/*
 * Removes default margin.
 */
body {
  margin: 0;
}
/* Links
 ========================================================================== */
/*
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  /* 1 */
  background-color: transparent;
  /* 2 */
  -webkit-text-decoration-skip: objects;
  -moz-text-decoration-skip: objects;
  -ms-text-decoration-skip: objects;
  -o-text-decoration-skip: objects;
}
/*
 * Remove the outline on focused links when they are also active or hovered
 */
a:active,
a:hover {
  outline: none;
}
/*
 * Style
 */
a,
.ui-link {
  color: #1e87f0;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
.ui-link:hover {
  color: #0f6ecd;
  text-decoration: underline;
}
/* Text-level semantics
 ========================================================================== */
/*
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/*
 * 1. Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 * 2. Add the correct font weight in Chrome, Edge, and Safari.
 */
/* 1 */
b,
strong {
  font-weight: inherit;
}
/* 2 */
b,
strong {
  font-weight: bolder;
}
/*
 * 1. Correct the odd `em` font sizing in all browsers.
 * 2. Consolas has a better baseline in running text compared to `Courier`
 * 3. Style
 */
:not(pre) > code,
:not(pre) > kbd,
:not(pre) > samp {
  /* 1 */
  font-size: 0.875rem;
  /* 2 */
  font-family: Consolas, monaco, monospace;
  /* 3 */
  color: #f0506e;
  white-space: nowrap;
  padding: 2px 6px;
  background: #f8f8f8;
}
/*
 * Emphasize
 */
em {
  color: #f0506e;
}
/*
 * Insert
 */
ins {
  background: #ffd;
  color: #666;
  text-decoration: none;
}
/*
 * Mark
 */
mark {
  background: #ffd;
  color: #666;
}
/*
 * Quote
 */
q {
  font-style: italic;
}
/*
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
 ========================================================================== */
/*
 * Remove the gap between embedded content and the bottom of their containers.
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Responsiveness
 * 1. Set a maximum width
 * 2. Auto scale the height. Only needed if `height` attribute is present
 * 2. Corrects `max-width` behavior if padding and border are used
 */
audio,
canvas,
img,
video {
  /* 1 */
  max-width: 100%;
  /* 2 */
  height: auto;
  /* 3 */
  box-sizing: border-box;
}
/*
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/*
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Block elements
 ========================================================================== */
/*
 * Margins
 */
p,
ul,
ol,
dl,
pre,
address,
fieldset,
figure {
  margin: 0 0 20px 0;
}
/* Add margin if adjacent element */
* + p,
* + ul,
* + ol,
* + dl,
* + pre,
* + address,
* + fieldset,
* + figure {
  margin-top: 20px;
}
/* Headings
 ========================================================================== */
h1,
.ui-h1,
h2,
.ui-h2,
h3,
.ui-h3,
h4,
.ui-h4,
h5,
.ui-h5,
h6,
.ui-h6 {
  margin: 0 0 20px 0;
  font-family: "Standard";
  font-weight: normal;
  text-transform: none;
}
/* Add margin if adjacent element */
* + h1,
* + .ui-h1,
* + h2,
* + .ui-h2,
* + h3,
* + .ui-h3,
* + h4,
* + .ui-h4,
* + h5,
* + .ui-h5,
* + h6,
* + .ui-h6 {
  margin-top: 40px;
}
/*
 * Sizes
 */
h1,
.ui-h1 {
  font-size: 2.625rem;
  line-height: 1.2;
}
h2,
.ui-h2 {
  font-size: 2rem;
  line-height: 1.2;
}
h3,
.ui-h3 {
  font-size: 1.5rem;
  line-height: 1.4;
}
h4,
.ui-h4 {
  font-size: 1.25rem;
  line-height: 1.4;
}
h5,
.ui-h5 {
  font-size: 1rem;
  line-height: 1.4;
}
h6,
.ui-h6 {
  font-size: 0.875rem;
  line-height: 1.4;
}
/* Lists
 ========================================================================== */
ul,
ol {
  padding-right: 30px;
}
/*
 * Reset margin for nested lists
 */
ul > li > ul,
ul > li > ol,
ol > li > ol,
ol > li > ul {
  margin: 0;
}
/* Description lists
 ========================================================================== */
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
/* Horizontal rules
 ========================================================================== */
/*
 * 1. Add the correct box sizing and height in Firefox.
 * 2. Show the overflow in Edge and IE.
 * 3. Add the correct text-align in Edge and IE.
 * 4. Style
 */
hr,
.ui-hr {
  /* 1 */
  box-sizing: content-box;
  height: 0;
  /* 2 */
  overflow: visible;
  /* 3 */
  text-align: inherit;
  /* 4 */
  margin: 0 0 20px 0;
  border: 0;
  border-top: 1px solid #e5e5e5;
}
/* Add margin if adjacent element */
* + hr,
* + .ui-hr {
  margin-top: 20px;
}
/* Address
 ========================================================================== */
address {
  font-style: normal;
}
/* Blockquotes
 ========================================================================== */
blockquote {
  margin: 0 0 20px 0;
  font-size: 1.25rem;
  line-height: 1.5;
  font-style: italic;
  color: #333;
}
/* Add margin if adjacent element */
* + blockquote {
  margin-top: 20px;
}
/*
 * Content
 */
blockquote p:last-of-type {
  margin-bottom: 0;
}
blockquote footer {
  margin-top: 10px;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #666;
}
blockquote footer::before {
  content: "— ";
}
/* Preformatted text
 ========================================================================== */
/*
 * 1. Contain overflow in all browsers.
 * 2. Override UA
 */
pre {
  font: 0.875rem / 1.5 Consolas, monaco, monospace;
  color: #666;
  -moz-tab-size: 4;
  tab-size: 4;
  /* 1 */
  overflow: auto;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background: #fff;
}
pre code {
  font-family: Consolas, monaco, monospace;
}
/* Selection pseudo-element
 ========================================================================== */
::-moz-selection {
  background: #39f;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #39f;
  color: #fff;
  text-shadow: none;
}
/* HTML5 elements
 ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  /* 1 */
  display: block;
}
/*
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/*
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}
/* Iframe
 ========================================================================== */
iframe {
  border: 0;
}
/* Prevent the 300ms delay for touchscreen interactions
 ========================================================================== */
/*
 * Most browsers prevent the 300ms delay automatically for sites that use the `width=device-width` property.
 * For Safari on iOS 9.3+, IE 11 and Edge on desktops and IE 11 on Windows Phone 8.1 it must be applied manually.
 */
a,
area,
button,
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

/* ========================================================================
   Shortcut Class
 ========================================================================== */

.hide {
  display: none;
}
.block {
  width: 100%;
  display: block;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.left {
  float: left;
}
.right {
  float: right !important;
}
hr.thick, hr.thin {
  margin: 30px auto;
  width: 75px;
  height: 4px;
  border: none;
  background: #444;
}
hr.thin {
  margin: 20px 0 30px 0;
  height: 2px;
}
.bg-white {
  background: #fff !important;
}
.bold {
  font-weight: bold;
}
.card {
  padding: 20px;
  background: #fff;
  color: #444;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 8px;
}

.post-status {
  opacity: 0.75;
  font-size: 0.95em;
}
.post-status > span {
  margin-right: 5px;
  vertical-align: baseline;
}
.animate1 {
  transition: 0.2s;
}
.animate2 {
  transition: 0.4s;
}
.animate3 {
  transition: 0.6s;
}
.animate4 {
  transition: 0.8s;
}
.animate5 {
  transition: 1s;
}

a.inherit {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 980px) {
  .md-hide {
    display: none;
  }
}

/* ========================================================================
   Component: Navigation
 ========================================================================== */
nav {
  width: 100%;
  min-height: 60px;
  line-height: 60px;
  padding: 0 20px;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav a {
  color: inherit;
  text-decoration: none !important;
}
nav a:hover {
  color: inherit;
}
nav .nav-brand {
  font-size: 22px;
  float: left;
  margin-right: 20px;
  font-weight: bold;
}
nav .menu-item-group {
  float: left;
}
nav .menu-item {
  display: inline-block;
  margin: 0;
  font-weight: bold;
  vertical-align: middle;
  position: relative;
}
nav .menu-item.parent > a::after {
  content: '\ea39';
  font-family: 'Nucleo Outline';
  font-size: 10px;
  vertical-align: bottom;
  margin-left: 5px;
}
nav .menu-item > a {
  padding: 10px 15px;
  border-radius: 0.1875rem;
  transition: 0.2s;
}
nav .menu-item.active > a, nav .menu-item > a:hover {
  background: #2CA8FF;
  color: #fff;
}
nav .submenu-item-group {
  position: absolute;
  top: 65px;
  left: 0;
  background: #fff;
  color: #444;
  padding: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 200px;
  line-height: 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  display: none;
}
nav .submenu-item > a {
  transition: 0.2s;
}
nav .submenu-item:hover > a {
  margin-left: 5px;
}
nav.nav-transparent {
  background: transparent;
  color: #fff;
  box-shadow: none;
}
nav.nav-round .menu-item > a {
  border-radius: 30px;
}
nav.nav-fixed {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
}
nav .nav-feature {
  float: right;
}
nav .nav-feature > * {
  margin-left: 20px;
}
nav .nav-feature .open-menu, nav .menu-item-group .close-menu {
  display: none;
}

@media (max-width: 980px) {

nav .nav-feature .open-menu, nav .menu-item-group .close-menu {
  display: inline-block;
}
nav .menu-item-group .close-menu {
  margin-bottom: 20px;
}
nav .menu-item-group {
  padding: 20px;
  line-height: 45px;
  float: none;
  clear: both;
  top: 0;
  right: -100%;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #444;
  overflow: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  transition: 0.7s;
  display: none;
}
nav .menu-item {
  display: block;
  margin: 0;
  padding: 0;
}
nav .menu-item:hover > a {
  background: inherit;
  color: inherit;
}
nav .submenu-item-group {
  position: static;
  background: transparent;
  box-shadow: none;
  padding: 0 0 0 30px;
  width: inherit;
  font-weight: 400;
  line-height: 40px;
}

}

/* ========================================================================
   Grid System
 ========================================================================== */
 .container {
   margin: 0 auto;
   width: 1170px;
   max-width: 95%;
   overflow: auto;
 }
 .container-fluid {
   padding: 15px;
   margin-right: auto;
   margin-left: auto;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }

.flex-box {
  display: flex;
  flex-wrap: wrap;
}
.c19-lg-1x{
	width: 8.33333333%;
}
.c19-lg-2x{
	width: 16.66666667%;
}
.c19-lg-3x{
	width: 25%;
}
.c19-lg-4x{
	width: 33.33333333%;
}
.c19-lg-5x{
	width: 41.66666667%;
}
.c19-lg-6x{
	width: 50%;
}
.c19-lg-7x{
	width: 58.33333333%;
}
.c19-lg-8x{
	width: 66.66666666%;
}
.c19-lg-9x{
	width: 75%;
}
.c19-lg-10x{
	width: 83.33333333%;
}
.c19-lg-11x{
	width: 91.66666666%;
}
.c19-lg-12x{
	width: 100%;
}

@media (max-width: 980px) {

.container-fluid {
  padding: 10px;
}
.c19-md-1x{
	width: 8.33333333%;
}
.c19-md-2x{
	width: 16.66666667%;
}
.c19-md-3x{
	width: 25%;
}
.c19-md-4x{
	width: 33.33333333%;
}
.c19-md-5x{
	width: 41.66666667%;
}
.c19-md-6x{
	width: 50%;
}
.c19-md-7x{
	width: 58.33333333%;
}
.c19-md-8x{
	width: 66.66666666%;
}
.c19-md-9x{
	width: 75%;
}
.c19-md-10x{
	width: 83.33333333%;
}
.c19-md-11x{
	width: 91.66666666%;
}
.c19-md-12x{
	width: 100%;
}

}

@media (max-width: 768px) {

.container-fluid {
  padding: 5px;
}
.c19-sm-1x{
  width: 8.33333333%;
}
.c19-sm-2x{
  width: 16.66666667%;
}
.c19-sm-3x{
  width: 25%;
}
.c19-sm-4x{
  width: 33.33333333%;
}
.c19-sm-5x{
  width: 41.66666667%;
}
.c19-sm-6x{
  width: 50%;
}
.c19-sm-7x{
  width: 58.33333333%;
}
.c19-sm-8x{
  width: 66.66666666%;
}
.c19-sm-9x{
  width: 75%;
}
.c19-sm-10x{
  width: 83.33333333%;
}
.c19-sm-11x{
  width: 91.66666666%;
}
.c19-sm-12x{
  width: 100%;
}

}
