@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background: #333641;
    margin: 2em;
}
#candles{
    animation: candle 5s ease-in-out infinite alternate;
    transform-origin: bottom;
}
@keyframes candle{
    from{
transform: rotateX(0deg);
    }
    to{
transform: rotateX(20deg);
    }
}
#bollons{ 
    animation: bollon 3s ease-in-out infinite alternate;
}
@keyframes bollon{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(30deg);
    }
}

div {
    background: 50% 100% / 50% 50% no-repeat
                radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 10vw;
    font-family: "Source Sans Pro", sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms alternate,
               glow 2500ms linear infinite 2000ms alternate;}
  
    @keyframes reveal {
      80%{
        letter-spacing: 8px;
      }
      100% {
        background-size: 300% 300%;
      }
    }
    @keyframes glow {
      40% {
        text-shadow: 0 0 8px #fff;
      }
    } 

    
    @media screen and (max-width: 1060px) {
        #primary { width:67%; }
        #secondary { width:30%; margin-left:3%;}  
    }
    
    /* Media Queries: Tabled Portrait */
    @media screen and (max-width: 768px) {
        #primary { width:100%; }
        #secondary { width:100%; margin:0; border:none; }
    }
    