
.c19-tt0{
    font-size: 18px;
    color: rgba(0,0,0,.5);
}
.sp-only{
    display: none;
}

.c19-status{
    margin: 50px auto;
}

.c19-tt1{
    font-size: 16px;
    padding-bottom: inherit;
    /*line-height: 0;*/
}

.c19-tt2{
    font-size: 18px;
    line-height: 0;
}

.c19-tt3{
    font-size: 20px;
    line-height: 0;
}
.c19-lg-1x{
    width: 8.33333333%;
}
.c19-lg-2x{
    width: 16.66666667%;
}
.c19-lg-3x{
    width: 25%;
}
.c19-lg-4x{
    width: 33.33333333%;
}
.c19-lg-5x{
    width: 41.66666667%;
}
.c19-lg-6x{
    width: 50%;
}
.c19-lg-7x{
    width: 58.33333333%;
}
.c19-lg-8x{
    width: 66.66666666%;
}
.c19-lg-9x{
    width: 75%;
}
.c19-lg-10x{
    width: 83.33333333%;
}
.c19-lg-11x{
    width: 91.66666666%;
}
.c19-lg-12x{
    width: 100%;
}
.flex-box {
    display: flex;
    flex-wrap: wrap;
}
.text-warning{
    color: #763F80;
}


.card-danger {
    padding: 20px;

    background-color:rgba(223,71,89,.1);
    color:#df4759;
    margin: 0 auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
}
.card-negative {
    padding: 20px;

    background-color:rgba(66,186,150,.1);
    color:#27ae60;
    margin: 0 auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
}
.card-warning {
    padding: 20px;
    background-color: #f9e79f ;
    color:#b37700;
    margin: 0 auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
}
.card-primary {
    padding: 20px;

    background-color:rgba(43,53,79,.1);
    color:#2b354f;
    margin: 0 auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
}
.card-pending{
    padding: 20px;
    background-color:rgba(51,94,234,.1);
    color:#335eea;
    opacity: 0.8;

    margin: 0 auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
}
.card-recovered{
    padding: 20px;
    background-color:rgba(80,102,144,.1);
    color:#506690;
    opacity: 0.8;

    margin: 0 auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
}

.text-dark{
    color: #3D2121;
}

.text-warning{
    color: #763F80;
}

.text-primary{
    color: #2CA8FF;
}
.text-danger{
    color:  #FF3636;
}
.text-green{
    color:#4CAF50;
}
.sp-responsive{
    display: none;
}

/*For Tablet*/
@media only screen and (min-width: 768px) and (max-width: 999px) {
   .sp-responsive{
       display: block;
   }
   .pc-only{
       display: none;
   }
}
/*For SP*/
@media only screen and (max-width: 767px)
 and (orientation: portrait) {
    .c19-tt0{
        display: none;
    }
    .sp-only{
        display: block;
        font-size: 16px;
        color: rgba(0,0,0,.5);
    }
    .sp-responsive{
        display: block;
    }
    .pc-only{
        display: none;
    }

}
